<h1>Quotes</h1>

<% if @quote.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@quote.errors.count, "error") %> stopped this from going on </h2>

    <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @quote do |f|%>
  <%= f.text_field :label %>
  <div>
    <%= f.text_field :user_id,
                     id: :quote_user_id,
                     value: current_user.id,
                     type: :hidden
    %>
  </div>
  <%= f.submit 'Add' %>
<% end %>