<h1>Quotes</h1>

<% if @quote.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@quote.errors.count, "error") %> stopped this from going on </h2>

    <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @quote do |f|%>
  <%= f.text_field :label %>
  <div>
    <%= f.text_field :user_id,
                     id: :quote_user_id,
                     value: current_user.id,
                     type: :hidden
    %>
  </div>
  <%= f.submit 'Add' %>
<% end %>

<br>
<% user_quotes = Quote.all.where(user_id: current_user.id) %>
<% lowest_score = user_quotes.minimum(:score) %>
<% if user_quotes.count > 3 %>
  <p>Do you want to delete this quote?</p>
  <p> <%= Quote.find_by(score: lowest_score).label%> </p>
  <p><%= link_to "Delete", Quote.find_by(score: lowest_score), :confirm => "Are you sure?", :method => :delete %></p>
<% end %>